[Desktop Entry]
Version=1.0
Name=OSM2Go Map Editor
GenericName=Map Editor
Comment=Edit openstreetmap.org map data on the road
Exec=/usr/bin/osm2go
Type=Application
Icon=osm2go
Terminal=false
Categories=Education;Science;Geography;Network;Graphics;GTK
